.full {
  width: 100%;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.quarter-complement {
  width: 75%;
}

.container {
  max-width: 960px;
  padding: 0 10px;
}

.block-center {
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

@media screen and (max-width: 960px) {
  .m-full {
    width: 100%;
  }
  .m-half {
    width: 50%;
  }
  .m-quarter {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .s-full {
    width: 100%;
  }
  .s-half {
    width: 50%;
  }
  .s-quarter {
    width: 25%;
  }
}
